In [1]:
import pandas as pd
import numpy as np

In [2]:
madrid = pd.read_csv('data/airbnb-madrid.csv')

In [3]:
## limpiar datos

# corregir price
madrid['price']= madrid['price'].apply(lambda x:x.replace('$', '').replace(',','')).astype('float')

In [4]:
# barajar
np.random.seed(33)
madrid = madrid.iloc[
    np.random.permutation(madrid.shape[0])
]

In [5]:
def predict_price(mi_capacidad, df , k = 5):
    _df = df.copy()
    _df['distance'] = _df['accommodates'].apply(
            lambda x: np.abs(mi_capacidad-x)
        )
    return _df.sort_values('distance').iloc[0:k]['price'].mean()

In [6]:
predict_price(1, madrid, 5)

34.2

In [8]:
predict_price(4, madrid, 10)

154.0

In [9]:
predict_price(4, madrid, 5)

187.4

In [10]:
predict_price(4, madrid, 1)

149.0

In [11]:
predict_price(4, madrid, 3000)

152.35766666666666

In [12]:
for i in range(20):
    print ('capacidad ', i, predict_price(4, madrid, i))

capacidad  0 nan
capacidad  1 149.0
capacidad  2 117.0
capacidad  3 244.66666666666666
capacidad  4 209.25
capacidad  5 187.4
capacidad  6 179.5
capacidad  7 163.57142857142858
capacidad  8 165.5
capacidad  9 162.11111111111111
capacidad  10 154.0
capacidad  11 159.45454545454547
capacidad  12 159.75
capacidad  13 155.3846153846154
capacidad  14 155.5
capacidad  15 148.13333333333333
capacidad  16 148.1875
capacidad  17 145.35294117647058
capacidad  18 143.61111111111111
capacidad  19 141.94736842105263

In [13]:
for i in range(10):
    print ('capacidad ', i, predict_price(i, madrid, 5))

capacidad  0 24.0
capacidad  1 34.2
capacidad  2 66.4
capacidad  3 72.0
capacidad  4 187.4
capacidad  5 302.2
capacidad  6 200.4
capacidad  7 410.6
capacidad  8 168.4
capacidad  9 630.0

In [14]:
madrid[
    madrid['accommodates'] == 0
]

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
12060,45167108,https://www.airbnb.com/rooms/45167108,20220911230855,2022-09-12,city scrape,BLESS Hotel Madrid 5*,NaN,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,364774870,...,NaN,NaN,NaN,NaN,f,1,0,0,0,NaN
11504,43078553,https://www.airbnb.com/rooms/43078553,20220911230855,2022-09-12,city scrape,NH Madrid Atocha,NaN,NaN,https://a0.muscache.com/pictures/cd46e28d-2480...,310825661,...,NaN,NaN,NaN,NaN,f,1,0,0,0,NaN

In [17]:
# limpieza

madrid['accommodates'].value_counts()

2     7284
4     4631
1     3393
3     1983
6     1588
5      893
8      370
7      238
10     117
9       57
12      41
16      30
11      21
14      14
13      11
15       8
0        2
Name: accommodates, dtype: int64

In [18]:
madrid = madrid[
    madrid['accommodates']>0
]

In [19]:
madrid['accommodates'].value_counts()

2     7284
4     4631
1     3393
3     1983
6     1588
5      893
8      370
7      238
10     117
9       57
12      41
16      30
11      21
14      14
13      11
15       8
Name: accommodates, dtype: int64

In [20]:
madrid.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')