hasta ahora hemos intentado predecir con una variable (`accommodates` y `bedrooms`)

hay variables que influyen en el precio

Hay varias formas de intentar mejorar la precisión
1. Cambiar el valor de k
2. Cambiar las variables (incrementar el número de atributos, p.ej, `accommodates`, `bedrooms`, `bathrooms`


Ahora lo que vamos a hacer es añadir columnas al modelo. Tenemos que tener cuidados con las variables que no van a funcionar con la ecuación de distancia:

- Valores no numéricos (categóricos) - la distancia quiere números
- Valores nulos: la distancia no permite nulos
- Valores no ordinales: numéricos pero que no representan un orden (ej.lat y la long)

In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
madrid = pd.read_csv('data/airbnb-madrid.csv')
# corrección de datos
madrid['price'] = madrid['price'].apply(lambda x: x.replace('$', '').replace(',', '')).astype(float)
np.random.seed(3943)
madrid = madrid.iloc[
    np.random.permutation(madrid.shape[0])
]

In [3]:
madrid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20681 entries, 682 to 15043
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            20681 non-null  int64
 1   listing_url                                   20681 non-null  object
 2   scrape_id                                     20681 non-null  int64
 3   last_scraped                                  20681 non-null  object
 4   source                                        20681 non-null  object
 5   name                                          20677 non-null  object
 6   description                                   19971 non-null  object
 7   neighborhood_overview                         11472 non-null  object
 8   picture_url                                   20680 non-null  object
 9   host_id                                       20681 non-null  int64
 10  host_url                                      20681 non-null  object
 11  host_name                                     20678 non-null  object
 12  host_since                                    20678 non-null  object
 13  host_location                                 15376 non-null  object
 14  host_about                                    9974 non-null   object
 15  host_response_time                            15792 non-null  object
 16  host_response_rate                            15792 non-null  object
 17  host_acceptance_rate                          16280 non-null  object
 18  host_is_superhost                             20676 non-null  object
 19  host_thumbnail_url                            20678 non-null  object
 20  host_picture_url                              20678 non-null  object
 21  host_neighbourhood                            10596 non-null  object
 22  host_listings_count                           20678 non-null  float64
 23  host_total_listings_count                     20678 non-null  float64
 24  host_verifications                            20681 non-null  object
 25  host_has_profile_pic                          20678 non-null  object
 26  host_identity_verified                        20678 non-null  object
 27  neighbourhood                                 11472 non-null  object
 28  neighbourhood_cleansed                        20681 non-null  object
 29  neighbourhood_group_cleansed                  20681 non-null  object
 30  latitude                                      20681 non-null  float64
 31  longitude                                     20681 non-null  float64
 32  property_type                                 20681 non-null  object
 33  room_type                                     20681 non-null  object
 34  accommodates                                  20681 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                20657 non-null  object
 37  bedrooms                                      19227 non-null  float64
 38  beds                                          20331 non-null  float64
 39  amenities                                     20681 non-null  object
 40  price                                         20681 non-null  float64
 41  minimum_nights                                20681 non-null  int64
 42  maximum_nights                                20681 non-null  int64
 43  minimum_minimum_nights                        20681 non-null  int64
 44  maximum_minimum_nights                        20681 non-null  int64
 45  minimum_maximum_nights                        20681 non-null  int64
 46  maximum_maximum_nights                        20681 non-null  int64
 47  minimum_nights_avg_ntm                        20681 non-null  float64
 48  maximum_nights_avg_ntm                        20681 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              20681 non-null  object
 51  availability_30                               20681 non-null  int64
 52  availability_60                               20681 non-null  int64
 53  availability_90                               20681 non-null  int64
 54  availability_365                              20681 non-null  int64
 55  calendar_last_scraped                         20681 non-null  object
 56  number_of_reviews                             20681 non-null  int64
 57  number_of_reviews_ltm                         20681 non-null  int64
 58  number_of_reviews_l30d                        20681 non-null  int64
 59  first_review                                  16219 non-null  object
 60  last_review                                   16219 non-null  object
 61  review_scores_rating                          16219 non-null  float64
 62  review_scores_accuracy                        16069 non-null  float64
 63  review_scores_cleanliness                     16071 non-null  float64
 64  review_scores_checkin                         16070 non-null  float64
 65  review_scores_communication                   16070 non-null  float64
 66  review_scores_location                        16067 non-null  float64
 67  review_scores_value                           16066 non-null  float64
 68  license                                       2755 non-null   object
 69  instant_bookable                              20681 non-null  object
 70  calculated_host_listings_count                20681 non-null  int64
 71  calculated_host_listings_count_entire_homes   20681 non-null  int64
 72  calculated_host_listings_count_private_rooms  20681 non-null  int64
 73  calculated_host_listings_count_shared_rooms   20681 non-null  int64
 74  reviews_per_month                             16219 non-null  float64
dtypes: float64(19), int64(21), object(35)
memory usage: 12.0+ MB

In [4]:
madrid[
    ['bathrooms', 'bathrooms_text']
]

       bathrooms    bathrooms_text
682          NaN            1 bath
11870        NaN            1 bath
3526         NaN           2 baths
13270        NaN            1 bath
15946        NaN            1 bath
...          ...               ...
3351         NaN            1 bath
970          NaN  1.5 shared baths
4766         NaN  1.5 shared baths
4563         NaN     1 shared bath
15043        NaN    3 shared baths

[20681 rows x 2 columns]

In [13]:
madrid['bathrooms_text'].info()

<class 'pandas.core.series.Series'>
Int64Index: 20681 entries, 682 to 15043
Series name: bathrooms_text
Non-Null Count  Dtype
--------------  -----
20657 non-null  object
dtypes: object(1)
memory usage: 323.1+ KB

In [10]:
def convert_half_in_number(x):
    if ('half' in str(x)):
        return '0.5'
    else:
        return x
    
convert_half_in_number("single  batch")

'single  batch'

In [12]:
madrid['bathrooms_text'].apply(
    convert_half_in_number
)

TypeError: argument of type 'float' is not iterable