In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
columns = [
  'symboling',
  'normalized-losses',
  'make',
  'aspiration',
  'num-of-doors',
  'body-style',
  'drive-wheels',
  'engine-location',
 'wheel-base',
 'length',
 'width',
 'height',
 'curb-weight',
 'engine-type',
 'num-of-cylinders',
 'engine-size',
 'fuel-system',
 'bore',
 'stroke',
 'compression-ratio',
 'horsepower',
 'peak-rpm',
 'city-mpg',
 'highway-mpg',
 'price'
 ]

In [3]:
columns

['symboling',
 'normalized-losses',
 'make',
 'aspiration',
 'num-of-doors',
 'body-style',
 'drive-wheels',
 'engine-location',
 'wheel-base',
 'length',
 'width',
 'height',
 'curb-weight',
 'engine-type',
 'num-of-cylinders',
 'engine-size',
 'fuel-system',
 'bore',
 'stroke',
 'compression-ratio',
 'horsepower',
 'peak-rpm',
 'city-mpg',
 'highway-mpg',
 'price']

In [4]:
coches = pd.read_csv('data/imports-85.data', names=columns)

In [5]:
coches.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [6]:
coches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205 entries, 3 to -1
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    object
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   aspiration         205 non-null    object
 4   num-of-doors       205 non-null    object
 5   body-style         205 non-null    object
 6   drive-wheels       205 non-null    object
 7   engine-location    205 non-null    object
 8   wheel-base         205 non-null    float64
 9   length             205 non-null    float64
 10  width              205 non-null    float64
 11  height             205 non-null    float64
 12  curb-weight        205 non-null    int64
 13  engine-type        205 non-null    object
 14  num-of-cylinders   205 non-null    object
 15  engine-size        205 non-null    int64
 16  fuel-system        205 non-null    object
 17  bore               205 non-null    object
 18  stroke             205 non-null    object
 19  compression-ratio  205 non-null    float64
 20  horsepower         205 non-null    object
 21  peak-rpm           205 non-null    object
 22  city-mpg           205 non-null    int64
 23  highway-mpg        205 non-null    int64
 24  price              205 non-null    object
dtypes: float64(5), int64(4), object(16)
memory usage: 41.6+ KB

In [7]:
coches['num-of-cylinders'].head()

3    four
3    four
1     six
2    four
2    five
Name: num-of-cylinders, dtype: object

In [8]:
coches = coches.replace('?', np.nan)

In [9]:
coches['horsepower'].isna().sum()

2

In [10]:
coches['horsepower'] = coches['horsepower'].astype('float')

In [11]:
coches['num-of-cylinders'].value_counts()

four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: num-of-cylinders, dtype: int64

In [12]:
def text_to_number(x):
    if (x == 'four'):
        return 4
    elif (x == 'six'):
        return 6
    elif (x == 'five'):
        return 5
    elif (x == 'eight'):
        return 8
    elif (x == 'two'):
        return 2
    elif (x == 'three'):
        return 3
    elif (x == 'twelve'):
        return 12
    else:
        return 0
coches['num-of-cylinders'] = coches['num-of-cylinders'].apply(text_to_number).astype('float')

In [13]:
coches['num-of-cylinders']
coches['num-of-doors'].value_counts()

four    114
two      89
Name: num-of-doors, dtype: int64

In [14]:
coches['num-of-doors'] = coches['num-of-doors'].apply (
    lambda x: 4 if x=='four' else 2
)

In [15]:
coches['price'].value_counts()

8921     2
18150    2
8845     2
8495     2
7609     2
        ..
45400    1
16503    1
5389     1
6189     1
22625    1
Name: price, Length: 186, dtype: int64

In [16]:
coches['peak-rpm'].value_counts()

5500    37
4800    36
5000    27
5200    23
5400    13
6000     9
5800     7
5250     7
4500     7
4150     5
4200     5
4350     4
4750     4
5100     3
5900     3
4250     3
4400     3
6600     2
4650     1
5600     1
5750     1
4900     1
5300     1
Name: peak-rpm, dtype: int64

In [17]:
num_cols = [
'symboling         ', 
' num-of-doors     ',  
' wheel-base       ',  
' length           ',  
' width            ',  
' height           ',  
' curb-weight      ',  
' num-of-cylinders ',  
' engine-size      ',  
' compression-ratio',  
' horsepower       ',  
' peak-rpm         ',  
' city-mpg         ',  
' highway-mpg      ',  
' price            ']

In [18]:
numeric_columns = []

for col in num_cols: 
    numeric_columns.append(col.strip())

In [19]:
numeric_columns

['symboling',
 'num-of-doors',
 'wheel-base',
 'length',
 'width',
 'height',
 'curb-weight',
 'num-of-cylinders',
 'engine-size',
 'compression-ratio',
 'horsepower',
 'peak-rpm',
 'city-mpg',
 'highway-mpg',
 'price']

In [20]:
coches_n = coches[numeric_columns].copy()

In [21]:
coches_n = coches_n.astype('float')

In [22]:
coches_n

,symboling,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,NaN,2.0,88.6,168.8,64.1,48.8,2548.0,4.0,130.0,9.0,111.0,5000.0,21.0,27.0,13495.0
3,NaN,2.0,88.6,168.8,64.1,48.8,2548.0,4.0,130.0,9.0,111.0,5000.0,21.0,27.0,16500.0
1,NaN,2.0,94.5,171.2,65.5,52.4,2823.0,6.0,152.0,9.0,154.0,5000.0,19.0,26.0,16500.0
2,164.0,4.0,99.8,176.6,66.2,54.3,2337.0,4.0,109.0,10.0,102.0,5500.0,24.0,30.0,13950.0
2,164.0,4.0,99.4,176.6,66.4,54.3,2824.0,5.0,136.0,8.0,115.0,5500.0,18.0,22.0,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
-1,95.0,4.0,109.1,188.8,68.9,55.5,2952.0,4.0,141.0,9.5,114.0,5400.0,23.0,28.0,16845.0
-1,95.0,4.0,109.1,188.8,68.8,55.5,3049.0,4.0,141.0,8.7,160.0,5300.0,19.0,25.0,19045.0
-1,95.0,4.0,109.1,188.8,68.9,55.5,3012.0,6.0,173.0,8.8,134.0,5500.0,18.0,23.0,21485.0
-1,95.0,4.0,109.1,188.8,68.9,55.5,3217.0,6.0,145.0,23.0,106.0,4800.0,26.0,27.0,22470.0
-1,95.0,4.0,109.1,188.8,68.9,55.5,3062.0,4.0,141.0,9.5,114.0,5400.0,19.0,25.0,22625.0

In [23]:
coches_n.isnull().sum()

symboling            41
num-of-doors          0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
num-of-cylinders      0
engine-size           0
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [24]:
coches_n = coches_n.drop(columns = ['symboling'])

In [25]:
coches_n.isnull().sum()

num-of-doors         0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
num-of-cylinders     0
engine-size          0
compression-ratio    0
horsepower           2
peak-rpm             2
city-mpg             0
highway-mpg          0
price                4
dtype: int64

In [26]:
coches_n = coches_n.dropna()

In [27]:
coches_n.isnull().sum()

num-of-doors         0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
num-of-cylinders     0
engine-size          0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [28]:
price = coches_n['price']
coches_n = (coches_n - coches_n.mean())/coches_n.std()
coches_n['price'] = price

In [29]:
coches_n

,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,-1.131763,-1.678607,-0.432533,-0.844346,-2.033429,-0.015447,-0.344718,0.076064,-0.293106,0.202456,-0.244709,-0.651134,-0.537771,13495.0
3,-1.131763,-1.678607,-0.432533,-0.844346,-2.033429,-0.015447,-0.344718,0.076064,-0.293106,0.202456,-0.244709,-0.651134,-0.537771,16500.0
1,-1.131763,-0.709939,-0.238545,-0.181152,-0.562263,0.513546,1.534704,0.602973,-0.293106,1.347479,-0.244709,-0.961124,-0.683769,16500.0
2,0.879137,0.160221,0.197928,0.150445,0.214186,-0.421329,-0.344718,-0.426895,-0.044499,-0.037200,0.795827,-0.186150,-0.099778,13950.0
2,0.879137,0.094548,0.197928,0.245187,0.214186,0.515470,0.594993,0.219766,-0.541712,0.308970,0.795827,-1.116119,-1.267761,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
-1,0.879137,1.687104,1.184033,1.429462,0.704574,0.761692,-0.344718,0.339518,-0.168802,0.282342,0.587720,-0.341145,-0.391773,16845.0
-1,0.879137,1.687104,1.184033,1.382091,0.704574,0.948282,-0.344718,0.339518,-0.367688,1.507250,0.379612,-0.961124,-0.829767,19045.0
-1,0.879137,1.687104,1.184033,1.429462,0.704574,0.877109,1.534704,1.105931,-0.342827,0.814910,0.795827,-1.116119,-1.121763,21485.0
-1,0.879137,1.687104,1.184033,1.429462,0.704574,1.271449,1.534704,0.435320,3.187383,0.069314,-0.660923,0.123840,-0.537771,22470.0
-1,0.879137,1.687104,1.184033,1.429462,0.704574,0.973289,-0.344718,0.339518,-0.168802,0.282342,0.587720,-0.961124,-0.829767,22625.0

In [30]:
from sklearn.neighbors import KNeighborsRegressor

In [38]:
k_split = math.trunc(len(coches_n)/5)

for i in range(0,5):
    coches_n.loc[coches_n.index[(k_split*i):(k_split*(i+1) if i<4 else len(coches_n))], 'fold'] = i+1

In [36]:
coches_n['fold'].value_counts()

5.0    199
Name: fold, dtype: int64

In [43]:
from sklearn.metrics import mean_squared_error

In [62]:
def knn_train_test(train_cols, target_col, df, p = 2, k = 5, alg = 'uniform'):
    _df = df.copy()

    """
    Calcula la predicción y devuelve el rmse
    """
    split_value = math.trunc(len(_df)*0.8)
    train = _df.iloc[:split_value]
    test = _df.iloc[split_value:]
    
    knn = KNeighborsRegressor(n_neighbors = k, weights=alg, p=p)
    knn.fit(train[train_cols],train[target_col] )
    pred = knn.predict(test[train_cols])
    rmse = mean_squared_error(test[target_col], pred)**0.5
    
        
    return rmse

In [63]:
knn_train_test(['num-of-doors', 'horsepower'], 'price', coches_n)

TypeError: fit() got an unexpected keyword argument 'n_neighbors'

In [57]:
coches_n.corr()

,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,fold
num-of-doors,1.000000,0.454706,0.405982,0.236076,0.538306,0.217119,0.008728,0.032521,0.144050,-0.092075,-0.230796,-0.043309,-0.061598,0.051376,NaN
wheel-base,0.454706,1.000000,0.879582,0.817145,0.592809,0.782636,0.347946,0.573197,0.249088,0.371621,-0.360593,-0.472877,-0.543647,0.583797,NaN
length,0.405982,0.879582,1.000000,0.857225,0.494880,0.881688,0.442442,0.685260,0.161486,0.580309,-0.286321,-0.664865,-0.699033,0.693965,NaN
width,0.236076,0.817145,0.857225,1.000000,0.309223,0.866965,0.521779,0.729466,0.191254,0.615315,-0.245975,-0.633139,-0.681131,0.753871,NaN
height,0.538306,0.592809,0.494880,0.309223,1.000000,0.307881,0.006518,0.075569,0.259914,-0.087407,-0.311574,-0.051387,-0.105200,0.134990,NaN
curb-weight,0.217119,0.782636,0.881688,0.866965,0.307881,1.000000,0.604626,0.849301,0.156294,0.758063,-0.279375,-0.750287,-0.794937,0.835090,NaN
num-of-cylinders,0.008728,0.347946,0.442442,0.521779,0.006518,0.604626,1.000000,0.848635,-0.019429,0.669179,-0.151944,-0.441125,-0.473873,0.708236,NaN
engine-size,0.032521,0.573197,0.685260,0.729466,0.075569,0.849301,0.848635,1.000000,0.029366,0.822713,-0.256773,-0.650552,-0.679688,0.873887,NaN
compression-ratio,0.144050,0.249088,0.161486,0.191254,0.259914,0.156294,-0.019429,0.029366,1.000000,-0.214576,-0.436015,0.330587,0.268819,0.069549,NaN
horsepower,-0.092075,0.371621,0.580309,0.615315,-0.087407,0.758063,0.669179,0.822713,-0.214576,1.000000,0.107882,-0.822617,-0.804596,0.810533,NaN
peak-rpm,-0.230796,-0.360593,-0.286321,-0.245975,-0.311574,-0.279375,-0.151944,-0.256773,-0.436015,0.107882,1.000000,-0.115425,-0.058606,-0.101649,NaN
city-mpg,-0.043309,-0.472877,-0.664865,-0.633139,-0.051387,-0.750287,-0.441125,-0.650552,0.330587,-0.822617,-0.115425,1.000000,0.972777,-0.689253,NaN
highway-mpg,-0.061598,-0.543647,-0.699033,-0.681131,-0.105200,-0.794937,-0.473873,-0.679688,0.268819,-0.804596,-0.058606,0.972777,1.000000,-0.705230,NaN
price,0.051376,0.583797,0.693965,0.753871,0.134990,0.835090,0.708236,0.873887,0.069549,0.810533,-0.101649,-0.689253,-0.705230,1.000000,NaN
fold,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
knn_train_test(['engine-size', 'horsepower'], 'price', coches_n)

3674.0580828288494

In [59]:
knn_train_test(['engine-size'], 'price', coches_n)

3647.307553936191

In [60]:
knn_train_test(['engine-size', 'city-mpg'], 'price', coches_n)

3123.081350045176

In [61]:
knn_train_test(['engine-size', 'horsepower', 'highway-mpg'], 'price', coches_n)

3830.73879232192

In [ ]:
knn_train_test(['engine-size', 'city-mpg'], 'price', coches_n, k=10, alg='distance' )